   body {
      font: 0.8em Arial, Verdana, sans-serif;
      background-image: url('images/background_1.jpg'); 
      background-attachment: fixed;   
   }
   a {color: #000080;}
   a:visited {color: #3399CC;}
   a:hover {color: #A52A2A;}
   h2 {
      font-style: italic;
      text-align: center;
      font: bold italic 200% cursive;
      color: #006400;
   }
   p {
      font-size: 16px;
      text-indent: 2.5em;
      text-align: justify; 
      line-height: 1.5;
      padding: 0 25px;
      margin-top: 2px; 
      margin-bottom: 2px; 
   }
   table {border-spacing: 15px;}
   td {
      padding: 3px; 
      background: maroon;
      text-align: center;
   }
   ol {font-size: 14px;
      list-style-type: disc;
      list-style-position: inside;
      padding: 10px;}
   ol li {padding-top: 7px;}
   #container {
   	 width: 1200px;
       height: 100%;
       margin: 0 auto;
   	 background: #f4f4f6;
   }
   #header {
   	font-size: 2.2em;
   	text-align: right;
   	background: #f4f4f6;
   }
   #nav, #aside {
   	float: left; 
      width: 200px; 
      padding: 5px;
      border: 0px solid #333;
   }
   #content {
   	background-image: url('images/background_2.jpg');
   	margin: 0 210px;
   	padding: 10px 10px 25px 10px;
      border: 1px solid #1E90FF;
   }
   #aside {
   	float: right;
   }
   #footer {
      clear: both;
      padding: 25px;
      background: #EE3A8C;
   }
   .h1_head {
      float: left;
      font-style: italic; 
      color: #008080;
      margin: 60px;
      border: 0px solid #333;
   }
   .topline {
      background: #6C7B8B url('images/top-rings.jpg');
      height: 26px;
      border: 0px solid #333; 
   }
   .nav_img {
      list-style-image: url('images/nav_flower.jpg');
      margin: 30px 15px;
      padding-left: 30px;
      font: bold italic 170% cursive;
      line-height: 2.5;
   }
   img.flow {
      float: left;
      margin: 7px 25px 25px 0; 
   }
   .audio {
      text-align: center;
      margin: 20px 0;
   }
   .link_iframe {
      font: bold italic 150% serif;
      margin: 35px 10px 5px;
      text-align: center;

   }